# Dependencies
/node_modules
/backend/.venv

# Build artifacts
/frontend/.next/
/build/
/dist/

# Logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Python cache
__pycache__/
*.pyc

# Docker
docker-compose.override.yml
